# Игнорирование папки виртуального окружения
venv/
env/
ENV/

# Игнорирование кэша Python
__pycache__/
*.py[cod]
*$py.class

# Игнорирование логов и временных файлов
*.log
*.tmp
*.bak

# Игнорирование настроек IDE PyCharm
.idea/

# Игнорирование файлов с чувствительными данными
*.env
*.secret
config.ini
settings.json

# Игнорирование файлов базы данных (если есть)
*.sqlite3

# Игнорирование файлов сессий или кук (если есть)
*.session

# Игнорирование прочих временных файлов
.DS_Store
Thumbs.db
